.cards {
    max-width: 882px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin: 47px auto 0;
    min-height: 360px;
}

.cards__image {
    border-radius: 10px 10px 0px 0px;
    width: 282px;
    height: 282px;
    display: block;
    cursor: pointer;
}

.cards__grid {
    height: 362px;
    width: 282px;
    position: relative;
}

.cards__name {
    font-size: 24px;
    line-height: normal;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    color: #000;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cards__card-name {
    width: 282px;
    height: 80px;
    background-color: #FFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards__like-button {
    width: 21px;
    height: 19px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #FFF;
}

.cards__text-button {
    width: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards__trash-bin {
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
}

.cards__button_type_outlined:hover {
    cursor: pointer;
    opacity: 0.5;
}

.cards__button_type_filled {
    cursor: pointer;
    display: none;
}

.cards__trash-bin:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 882px) {
    .cards {
        max-width: 882px;
        display: grid;
        grid-template-columns: repeat(1, 282px);
        margin: 47px auto 0;
        justify-content: center;
        min-height: 362px;
    }
}